#main{
    margin-left: 210px;
}

.sheet{
    background: #fafafa;
    width: 220px;
    height: 410px;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
    margin-left: 200px;
    margin-top: 140px;
    transition: transform 1s ease, box-shadow 1s linear, z-index 0.1s ease;
    z-index: 0;

}
.sheet:hover{
    background: white;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 4;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

h3{
    margin-left:22%;
}
h1{
    font-size: 50px;
    margin-left:30%;
    margin-bottom: -20px;
    margin-top: -1px;
}
h2{
     margin-left:24%;
     color: silver;
}
.line{
    background: #850066;
    height: 4px;
    margin-bottom: 20px;
}
p{
    display: block;
    background: #850066;
    margin-left: 26%;
    margin-top: -5px;
    font-size: 40px;
    width: 90px;
    padding-left: 8px;
    border-radius: 6px;
    color: white;
}
p:hover{
    background: #b83098;
    cursor: pointer;
}

/*2 блок */
.sheet2{
    background: #fafafa;
    width: 220px;
    height: 410px;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
    margin-left: 450px;
    margin-top: -413px;
    transition: transform 1s ease, box-shadow 1s linear, z-index 0.1s ease;
    z-index: 1;

}
.sheet2:hover{
    background: white;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 4;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.sheet2 h3{
    margin-left:22%;
}
h1{
    font-size: 50px;
    margin-left:30%;
    margin-bottom: -20px;
    margin-top: -1px;
}
h2{
     margin-left:24%;
     color: silver;
}
.line2{
    background: #ffad33;
    height: 4px;
    margin-bottom: 20px;
}
.sheet2 p{
    display: block;
    background: #ffad33;
    margin-left: 26%;
    margin-top: -5px;
    font-size: 40px;
    width: 90px;
    padding-left: 8px;
    border-radius: 6px;
    color: while;
}
.sheet2 p:hover{
    background: #fab44b;
    cursor: pointer;
}
/*3 блок */
.sheet3{
    background: #fafafa;
    width: 220px;
    height: 410px;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
    margin-left: 700px;
    margin-top: -413px;
    transition: transform 1s ease, box-shadow 1s linear, z-index 0.1s ease;
    z-index: 2;

}
.sheet3:hover{
    background: white;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 4;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.sheet3 h3{
    margin-left:22%;
}
h1{
    font-size: 50px;
    margin-left:30%;
    margin-bottom: -20px;
    margin-top: -1px;
}
h2{
     margin-left:24%;
     color: silver;
}
.line3{
    background: #4bfaa8;
    height: 4px;
    margin-bottom: 20px;
}
.sheet3 p{
    display: block;
    background: #4bfaa8;
    margin-left: 26%;
    margin-top: -5px;
    font-size: 40px;
    width: 90px;
    padding-left: 8px;
    border-radius: 6px;
    color: while;
}
.sheet3 p:hover{
    background: #60fcb3;
    cursor: pointer;
}
/*4 блок */
.sheet4{
    background: #fafafa;
    width: 220px;
    height: 410px;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
    margin-left: 950px;
    margin-top: -413px;
    transition: transform 1s ease, box-shadow 1s linear, z-index 0.1s ease;
    z-index: 3;

}
.sheet4:hover{
    background: white;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 4;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.sheet4 h3{
    margin-left:22%;
}
.sheet4 h1{
    font-size: 50px;
    margin-left:36%;
    margin-bottom: -20px;
    margin-top: -1px;
}
h2{
     margin-left:24%;
     color: silver;
}
.line4{
    background: #68fc60;
    height: 4px;
    margin-bottom: 20px;
}
.sheet4 p{
    display: block;
    background: #68fc60;
    margin-left: 26%;
    margin-top: -5px;
    font-size: 40px;
    width: 90px;
    padding-left: 8px;
    border-radius: 6px;
    color: while;
}
.sheet4 p:hover{
    background: #81ff7a;
    cursor: pointer;
}

