.log{
    margin-left: 45%;
    margin-top: 15%;
}
input{
    height: 30px;
    border-radius: 10px;
    border: 1px solid silver;
    transition: border 0.5s ease, box-shadow 0.5s ease;
    padding-left: 10px;

}
#sub{
    margin-left: 43px;
    padding-left: -20px;
}
#sub:hover{
    cursor: pointer;
}
input:hover{
     border: 1px solid #dbdbdb;
     box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

}

input:focus{
    outline: none;
}

